<div class="mid">

    <h1>Seja bem vindo ao FinanSesi</h1>
    <h3>Aprendendo programação e finanças!</h3>
    
    <div class="juros">
        
        <div class="simples">
            <a href="/juros_simples.ejs">Juros Simples </a>
            <img src="./img/juros_simples.png" alt="">
        </div>
        <div class="composto">
            <a href="/juros_composto.ejs">Juros Composto</a>
            <img src="./img/juros_composto.png" alt="">
        </div>
        
        
    </div>
</div>