<h1>Projeto desenvolvido por:</h1>
<h3>Leticia Gabrielly de Jesus</h3>
<hr>
<h3>Esse projeto foi desenvolvido com o intuito de criar um sistema para aprendermos programação e finanças</h3>
<hr>
<h3>Desenvolvido em sala de aula em parceria Sesi/Senai</h3>